[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/vim-ruby-refactoring"]
	path = bundle/vim-ruby-refactoring
	url = git://github.com/ecomba/vim-ruby-refactoring.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/vim-typescript"]
	path = bundle/vim-typescript
	url = git://github.com/dmitry-ilyashevich/vim-typescript.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/hallison/vim-markdown.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
