[submodule "bundle/vim-coffee-script"]
	path = pack/plugins/start/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-nerdtree-tabs"]
	path = pack/plugins/start/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/ctrlp"]
	path = pack/plugins/start/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/supertab"]
	path = pack/plugins/start/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/vim-markdown"]
	path = pack/plugins/start/vim-markdown
	url = git://github.com/hallison/vim-markdown.git
[submodule "bundle/typescript-vim"]
	path = pack/plugins/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/vim-jade"]
	path = pack/plugins/start/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "bundle/nerdcommenter"]
	path = pack/plugins/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-less"]
	path = pack/plugins/start/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/syntastic"]
	path = pack/plugins/start/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/tagbar"]
	path = pack/plugins/start/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "bundle/vim-snippets"]
	path = pack/plugins/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/vim-snipmate"]
	path = pack/plugins/start/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-addon-mw-utils"]
	path = pack/plugins/start/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/tlib"]
	path = pack/plugins/start/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/emmet-vim"]
	path = pack/plugins/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/vim-unimpaired"]
	path = pack/plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-slime"]
	path = pack/plugins/start/vim-slime
	url = git://github.com/jpalardy/vim-slime.git
[submodule "bundle/vim-node"]
	path = pack/plugins/start/vim-node
	url = https://github.com/moll/vim-node.git
[submodule "bundle/vim-airline"]
	path = pack/plugins/start/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/ag"]
	path = pack/plugins/start/ag
	url = https://github.com/epmatsw/ag.vim.git
[submodule "bundle/tmux-navigator"]
	path = pack/plugins/start/tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "bundle/vim-dispath"]
	path = pack/plugins/start/vim-dispath
	url = https://github.com/tpope/vim-dispatch.git
[submodule "bundle/omnisharp-vim"]
	path = pack/plugins/start/omnisharp-vim
  url = https://github.com/OmniSharp/omnisharp-vim.git
[submodule "bundle/vimproc"]
	path = pack/plugins/start/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/tsuquyomi"]
	path = pack/plugins/start/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
